.editor {
    grid-area: 2 / 3 / 3 / 5;
    padding: 10px;
    color: #f28482;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 50%;
    padding: 10px;
    gap: 5px;

  }

.titleInput {
    display: block;
    margin: 10px;
    font-size: .1em;
}

.captionInput {
    display: block;
    margin: 10px;
    font-size: .1em;
}

#headInput {
    display: block;
    margin: 10px;
    font-size: .1em;
}

#torsoInput {
    display: block;
    margin: 10px;
    font-size: .1em;
}

label {
    font-size: 1em;
    margin-left: 10px;
}

#legsInput {
    display: block;
    margin: 10px;
    font-size: .1em;
}