.editor {
    grid-area: 2 / 3 / 3 / 5;
    padding: 10px;
    color: #333232;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 30%;
    padding: 15px;
    gap: 5px;
  }

.titleInput {
    display: block;
    margin: 20px;

}

.captionInput {
    display: block;
    margin: 20px;


}

#headInput {
    display: block;
    margin: 20px;
}

#torsoInput {
    display: block;
    margin: 20px;
}

#legsInput {
    display: block;
    margin: 20px;
}