.container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  gap: 10px 20px;
  grid-auto-flow: row;
  justify-content: space-evenly;
  align-content: space-around;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "header header header"
    "editor display ."
    "footer footer footer";
}
