.header {
    position: sticky;
    top: 0;
    height: 65px;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: rgb(208, 118, 84);
   justify-content: flex-end;
   font-size:x-large;
}