.headerContainer {
    grid-area: 1 / 1 / 2 / 4;
    justify-self:initial;
    align-self: initial;
    position: sticky;
    top: 0;
    color: #c4d6b0;
    background-color: #333232;
    text-align: right;
    padding: 40px;
}

.header {
    grid-area: 1 / 1 / 2 / 4;
    justify-self:initial;
    align-self: initial;
    font-size: 3em;
}
/*
header {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 50px;
    background-color: blanchedalmond;
    color: #282c34;
    padding: 10px;
    justify-content: right;
    align-items:flex-end;
    font-size: xx-large;
} */