.header {
    position: sticky;
    top: 0;
    height: 65px;
    padding: 50px;
    display: flex;
    align-items: center;
    border: 6px solid #ba5624;
    background-color: #ffa552;
    color: #c4d6b0;
    justify-content: flex-end;
    font-size: 3em;
    text-align: right;
}