.displayContainer {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: initial;
    align-self: initial;
    color: #333232;
    height: 100%;
}

#titleEl {
    height:auto;
    margin: 5px;
    font-family: Jost, Andale Mono, sans-serif;
    font-size: 1em;
    color: #392648;
    padding: 5px;

}

#captionEl {
    font-family: Jost, Andale Mono, sans-serif;
    font-size: 1em;
    color: #394648;
    padding: 5px;

}

#headEl {
    display:block;
    position: relative;
    left: 30px;

}

#torsoEl {
    display: block;

}

#legsEl {
    display: block;

}