.displayContainer {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: initial;
    align-self: initial;
    color: #333232;
    height: 700px;
}

#titleEl {
    height:auto;
    margin: 10px;
    font-family: Jost, Andale Mono, sans-serif;
    font-size: 2em;
    color: #333232;
    padding: 5px;

}

#captionEl {
    font-family: Jost, Andale Mono, sans-serif;
    font-size: 2em;
    color: #6f775a;
    padding: 5px;

}

#headEl {
    display:block;
    position: relative;
    left: 150px;
}

#torsoEl {
    display: block;
    position: relative;
    left: 100px;
    bottom: 30px;
}

#legsEl {
    display: block;
    position: relative;
    left: 65px;
    bottom: 90px;
}

.hidden {
    visibility: hidden;
}