.count {
    grid-area: 3 / 1 / 4 / 3;
    justify-self: initial;
    align-self: initial;

}

.headCount {
    text-align: left;
    padding: 10px;
    background-color: #333232;
    color: #c4d6b0;
    margin: 15px;

}

.torsoCount {
    text-align: left;
    padding: 10px;
    background-color: #333232;
    color: #c4d6b0;
    margin: 15px;
}

.legsCount {
    text-align: left;
    padding: 10px;
    background-color: #333232;
    color: #c4d6b0;
    margin: 15px;
}