.count {
    grid-area: 3 / 2 / 4 / 4;
    justify-self: center;
    align-self: initial;
    color: #333232;
}

.headCount {
    text-align: left;
    padding: 10px;
    background-color: #333232;
    color: #c7dfc5;
    margin: 15px;
    width: fit-content;


}

.torsoCount {
    text-align: left;
    padding: 10px;
    background-color: #333232;
    color: #c7dfc5;
    margin: 15px;
}

.legsCount {
    text-align: left;
    padding: 10px;
    background-color: #333232;
    color: #c7dfc5;
    margin: 15px;
}