html, body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.block {
  position: absolute;
  z-index: -1;
}
.n1 {
  top: 0;
  bottom: 0;
  left: 0;
  background:#ffb44387;
  animation: horizantal 7.5s linear infinite;
}
.n2 {
  left: 0;
  right: 0;
  bottom: 0;
  background:#8e9cc57b;
  animation: vertical 7.5s linear infinite;
  animation-delay: 1.5s;
}
.n3 {
  top: 0;
  bottom: 0;
  right: 0;
  background:#83b7b28e;
  animation: horizantal 7.5s linear infinite;
  animation-delay: 3s;
}
.n4 {
  left: 0;
  right: 0;
  top: 0;
  background: #b8f8eaa3;
  animation: vertical 7.5s linear infinite;
  animation-delay: 4.5s;
}
@keyframes horizantal {
  0% { width: 0 }
  50% { width: 100% }
  100% { width: 0 }
}
@keyframes vertical {
  0% { height: 0 }
  50% { height: 100% }
  100% { height: 0 }
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  background: #747c92c9;
  opacity: 0;
  animation: appear 8s linear infinite;
}
.i2 {
  animation-delay: 2s;
}
.i3 {
  animation-delay: 4s;
}
.i4 {
  animation-delay: 6s;
}
@keyframes appear {
  10% {
    opacity: 1
  }
  30% {
    opacity: 0;
    background-position: right;
    zoom: 105%;
  }
}